table {
    width: 100%
    
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #00ce67
}

.delete > i{
    color: #e93d3d;
}

h3 {
    margin: 0 0  0 20px;
    padding-top: 10px;
    color: #002743;
    font-weight: 500;
    font-size: 1rem;
}