.header {
    display: flex;
    align-items: center;
    background-color: #008B95;
    /* #254f6e; */
    height: 50px;
    
}
.header .logo {
    height: 100px;
    width: 100px;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o decorado quando passar o mouse em cima */
    color: #000000;
}
.header .title-group {
    padding-left: 35px;
}
.header .title-group i{
    padding-right: 5px;
}