.header {
    display: flex;
    align-items: center;
}
.header .logo {
    height: 30px;
    width: 30px;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove o decorado quando passar o mouse em cima */
}
.header .title-group {
    padding-left: 35px;
}
.header .title-group i{
    padding-right: 5px;
}