.sidenav {
    background-color: #49aab1;
    width: 130px;
    margin-top: -14.3px;
}
.sidenav a {
    color: #FFFFFF;
}
.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFFFFF
}