.sidenav {
    background-color: #49aab1;
    width: 130px;
    margin-top: -14.3px;
}
.sidenav a {
    color: #FFFFFF;
}
.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFFFFF
}

.mat-list-item {
    font-size: 0.8rem;
}

@media (min-width: 768px) {
    .mat-list-item {
        font-size: 1rem;
    }
}    